@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans TC',sans-serif; 
    font-size: 100%;
    letter-spacing: 1px;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    position: relative;
}
h1 {margin: 0;}
ul.login_modal_link,ul.register_member_btn,nav.desktop_header_nav ul,nav.mobile_header_nav ul,ul.news_box,ul.footer_contact,
ul.footer_menu_list,ul.social_icon,ul.rule_detail_btn,ul.rule_list_text {list-style-type: none;}
.banner_content h2,ul.news_box li span.news_photo_no {font-family: 'Barlow Semi Condensed', sans-serif;}
ul#menu li a,ul#menu li a.login_btn,.banner_content_text h3,.bread_crumb,ul.news_box li h3,
.news_detail_box,.footer_content,.loginModal,.forgetPswModal,.registerRuleModal,.registerModal,
.contactModal,a.login_btn,ul.register_member_btn li > a.agree_btn,
ul.register_member_btn li > a.disagree_btn {font-family: 'Noto Sans TC',sans-serif;}
.header_content h1 img.Header_logo,ul#menu li a,ul.news_box li img,.footer_content img.Footer_logo,
ul.footer_menu_list li a,img.modal_close_icon {transition: .5s opacity ease-in-out;}
ul#menu li a,.bread_crumb,.bread_crumb a,.fa-home,ul.news_box li h3,.footer_content,ul.footer_contact li a,
ul.footer_menu_list li a,.loginModal h3,.forgetPswModal h3,.registerRuleModal h3,.registerModal h3,
.register_member_text p,ul.login_modal_link li a,.house_platform_intro p,.rule_detail_box p,
.question_info p {color: #0d0a0a;}
.wrapper {position: relative;}
.clearfix:after {clear: both; content: ""; display: block;}

/* --Header--------------------------------- */
.desktop_header_box {
    background: rgb(255,255,255);
    border-top: 4px solid #fd5d47; 
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.18);
    padding: 24px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.desktop_header_content {padding: 0 40px; width: 100%;}
.desktop_header_content h1 img.Header_logo {
    float: left; 
    height: auto; 
    margin-top: -2px; 
    max-width: 240px; 
    opacity: 1;
}
.desktop_header_content h1 img.Header_logo:hover,.footer_content img.Footer_logo:hover {opacity: .7;}
nav.desktop_header_nav {float: right;}
nav.desktop_header_nav li {float: left; margin-right: 32px; padding-top: 1.2px;}
nav.desktop_header_nav li a {color: #000; font-size: 16px; font-weight: 400; text-decoration: none;}
nav.desktop_header_nav li a:hover {opacity: .7;}
nav.desktop_header_nav li img {display: block; height: auto; margin: 0 auto 10px auto;}
nav.desktop_header_nav li:last-child {margin-right: 0;}
nav.desktop_header_nav li a.login_btn {
    background: #fe5c49;
    color: #fff; 
    font-size: 14px;
    font-weight: 500; 
    height: 32px;
    line-height: 30px;
    margin-top: -7px; 
    width: 82px;
}

/* --Index--------------------------------- */
.house_platform_intro h2 {color:  #ff5c49; font-size: 30px; padding-bottom: 38px; text-align: center;}
.house_platform_intro p {font-size: 16px; line-height: 30px; text-align: center;}
a.house_platform_intro_btn {
    background: #ff5c49;
    border-radius: 48px;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 46px;
    margin: 38px auto 0 auto;
    text-align: center;
    text-decoration: none;
    width: 200px;
}
.index_class_speech_teacher {margin-top: 65px;}
.index_class_speech_teacher h2 {color: #ff5c49; font-size: 30px; text-align: center;}
.index_class_speech_teacher ul {list-style-type: none; margin: 40px auto 0 auto; max-width: 1250px; width: 100%;}
.index_class_speech_teacher ul li {float: left; margin-right: 36px; width: 376px;}
.index_class_speech_teacher ul li:last-child {margin-right: 0;}
.index_class_speech_teacher ul li img {margin-bottom: 8px;}
.index_class_speech_teacher ul li h3 {font-size: 20px; font-weight: 400; line-height: 30px; margin: 8px 0;}
.index_class_speech_teacher p {font-size: 16px; line-height: 28px; text-align: justify;}
span.index_price {color: #ff5c49; font-size: 30px; font-weight: 400; letter-spacing: 0;}

/* --Banner & Bread_Crumb--------------------------------- */
.index_banner_box {padding: 72px 0 55px 0;}
.index_banner_box img {height: auto; width: 100%;}
.banner_box {color: #fe5c49; padding: 110px 0 55px 0; width: 100%;}
.banner_content {
    align-items: center; 
    -webkit-box-align: center; 
    display: flex; 
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
}
.banner_content h2 {font-size: 86px; letter-spacing: 1px; margin: 0 24px 0 -4px;}
.banner_content_text {
    align-items: center; 
    -webkit-box-align: center; 
    display: flex; 
    margin-top: 21px;
    position: relative; 
    width: 100%;
}
.banner_content_text h3 {flex-shrink: 0; font-size: 20px; font-weight: 500; padding-right: 10px;}
.banner_content_text:after {
    content: "";
    background: #fe5c49;
    display: block;
    height: 1px;
    width: calc(100% - 70px);
}
span.banner_text_padding {padding-left: 16px;}
.container {margin: 0 auto; max-width: 1200px; width: 100%;}
.bread_crumb {font-weight: 400; font-size: 14px; text-align: left; width: 100%;}
.bread_crumb a {font-weight: 400; opacity: 1; text-decoration: none;}
.bread_crumb a:hover {opacity: .7;}
.fa-home {margin-right: 6px;}
.fa-angle-right {margin: 0 6px;}

/* --Speech--------------------------------- */
.speech_form {margin-top: 40px; width: 100%;}
.form_text {border-top: 1px solid #e3e3e3; padding: 30px 0; width: 100%;}
.form_text:first-child {border-top: none; padding: 0 0 30px 0;}
.form_text:last-child {padding: 30px 0 0 0;}
.form_text label.form_text_title,.form_text p {
    float: left; 
    font-size:16px; 
    line-height: 28px; 
    padding-top: 8px; 
    width: 240px;
}
.form_radio_text {margin-top: 20px; width: 100%;}
.form_radio_text label {margin-right: 10px;}
.form_radio_box {float: right; width: 940px;}
.form_radio_box .form_radio_text:first-child {margin-top: 0;}
.form_radio_box input[type="text"] {margin-top: 20px;}
.form_text input[type="text"],.form_text input[type="tel"],
.form_text input[type="email"],.form_text textarea {
    background: #fbfbfb;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    float: right;
    max-width: 940px;
    outline: none; 
    padding: 12px 10px; 
    width: 100%;
}
.form_text textarea {height: 250px; resize: none;}
.form_text input[type="radio"] {margin-right: 4px;}
input[type="radio"]:checked,input[type="radio"]:not(:checked) {left: -9999px; position: absolute;}
input[type="radio"]:checked + label,input[type="radio"]:not(:checked) + label {
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 28px;
    position: relative;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 100%;
    height: 18px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 18px;
}
input[type="radio"]:checked + label:after,input[type="radio"]:not(:checked) + label:after {
    content: "";
    background: #ff5c49;
    border-radius: 100%;
    height: 12px;
    left: 4px;
    position: absolute;
    top: 6px;
    transition: all 0.2s ease-out;
    width: 12px;
}
input[type="radio"]:not(:checked) + label:after {opacity: 0; transform: scale(0);}
input[type="radio"]:checked + label:after {opacity: 1; transform: scale(1);}
a.speech_btn {
    background-color: #ff5c49; 
    border-radius: 50px;
    color: #fff;
    display: block; 
    font-family: 'Noto Sans TC',sans-serif; 
    font-size: 18px;
    font-weight: 400;
    height: 50px; 
    line-height: 48px;
    margin: 40px auto 0 auto;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
    transition: transform .4s ease-out;
}
a.speech_btn:hover {transform: scale(1.14);}
.member_box .speech_form,.speech_form .form_text:first-child {margin-top: 0;}
.member_box a.speech_btn {margin-top: 32px;}
.form_text p.padding0 {margin-top: -2px; padding: 0;}

/* --Online Class--------------------------------- */
ul.online_class li {margin: 0 34px 44px 0;}
ul.online_class li .news_photo {margin-bottom: 14px;}
.news_class_video {box-shadow: 0 20px 90px rgba(0,0,0,.15);}
.onlineClass_video {height: 644px; width: 100%;}

/* --News--------------------------------- */
h2.knowledge_title {font-size: 30px; font-weight: 600; letter-spacing:1px; padding: 32px 0 2px 0;}
ul.news_box,.news_detail_box {padding-top: 32px;}
ul.news_box li {float: left; margin: 0 36px 56px 0; width: 376px;}
ul.news_box li:nth-child(3n+3) {margin-right: 0;}
ul.news_box li:last-child,ul.news_box li:nth-last-child(2),
ul.news_box li:nth-last-child(3) {margin-bottom: 0;}
ul.news_box li .news_photo {margin-bottom: 20px; position: relative; width: 372px;}
ul.news_box li .news_photo_text {margin-top: -5px;}
ul.news_box li img {
    background-size: cover;
    border-radius: 8px; 
    height: auto;
    max-width: 376px; 
    opacity: 1; 
}
ul.news_box li img:hover {cursor: pointer; opacity: .55;}
ul.news_box li span.news_photo_no {
    bottom: -41px;
    color: #ffca36;
    font-size: 82px; 
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute; 
    right: 12px;
}
ul.news_box li span.news_date,
.index_class_speech_teacher ul li span.index_class_date {color: #aaa; font-family: Arial, Helvetica,sans-serif; font-size: 16px;}
ul.news_box li h3 {font-size: 16px; font-weight: 400; line-height: 28px; margin-top: 8px; text-align: justify;}
.news_detail_box h2 {font-size: 34px; font-weight: 600; padding-bottom: 34px;}
.news_detail_box img {box-shadow: 0 20px 90px rgba(0,0,0,.15); width: 100%;}
.news_author {padding-top: 28px;}
.news_author p {font-size: 15px; font-weight: 400; line-height: 27px;}
.news_author p.news_page_date {padding-bottom: 26px;}
.news_article_text {line-height: 26px; padding-bottom: 50px;}
.news_article_text:last-child {padding-bottom: 0;}
.news_article_text h3 {font-size: 30px; font-weight: 600; padding-bottom: 22px;}
.news_article_text p {
    font-size: 16px; 
    font-weight: 400; 
    line-height: 28px; 
    padding-bottom: 22px;
    text-align: justify;
}
.news_article_text p:last-child {padding-bottom: 0;}

/* --Question--------------------------------- */
.question_detail_box {margin-top: 40px;}
.question_box {margin-bottom: 40px;}
.question_title {
	background:#efefef; 
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px;
	height: 72px;
	line-height: 72px;
	padding: 0 28px;
}
.question {
	background:#fe5c49;
	border-radius: 50%;
	color: #fff;
	float: left;
	font-family: "Carlito";
	font-size: 22px;
	font-weight: 600;
	height: 46px;
	line-height: 44px;
	margin-top: 12px;
	text-align: center; 
	width: 46px;
}
.question_title h1 {
	color: #333;
	float: left;
	font-size: 20px; 
    font-weight: 500;
    padding-left: 58px;
    position: relative;
    text-align: justify;
}
.question_title h1:before {
    content: "Q";
	background:#fe5c49;
	border-radius: 50%;
	color: #fff;
	float: left;
	font-family: "Carlito";
	font-size: 24px;
	font-weight: 600;
    height: 44px;
    left: 0;
	line-height: 42px;
    margin-top: 14px;
    position: absolute;
	text-align: center; 
	width: 44px;
}
.question_info {
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid  #e3e3e3;
	border-right: 1px solid  #e3e3e3;
	border-bottom-left-radius: 8px; 
	border-bottom-right-radius: 8px;
	padding: 14px 28px 20px 28px;
}
.question_info p {font-size: 16px; line-height: 28px; text-align: justify; width: 100%;}

/* --Rule--------------------------------- */
ul.rule_detail_btn {margin: 26px 0;}
ul.rule_detail_btn li {
    border: 1px solid #9f9f9f;
    border-radius: 38px;
    cursor: pointer;
    display: block; 
    float: left;
    font-size: 14px;
    height: 38px; 
    line-height: 34px;
    margin-right: 16px;
    text-align: center;
    width: 130px;
}
ul.rule_detail_btn li a {color: #9f9f9f; font-size: 15px; text-decoration: none;}
ul.rule_detail_btn li:last-child {margin-right: 0;}
ul.rule_detail_btn li.selected {background: #fe5c49; border: none; color: #fff;}
ul.rule_detail_btn li.selected a {color: #fff;}
.user_rule {border-bottom: 1px solid #e3e3e3; padding-bottom: 26px;}
.rule_detail_box h2 {font-size: 30px; font-weight: 600; margin: 26px 0 22px 0;}
.rule_detail_box h2 span.rule_point {color: #fe5c49;}
.rule_detail_no {margin-top: 22px;}
.rule_detail_box p {font-size: 16px; line-height: 30px; text-align: justify;}
ul.rule_list_text {margin-left: 18px;}
ul.rule_list_text li {line-height: 30px; text-align: justify;}
h4.rule_detail_title {font-size: 16px; font-weight: 500; padding-bottom: 16px;}

/* --Footer--------------------------------- */
.footer_box {
    background: #f7f7f7;
    display: block;
    margin-top: 130px;
    padding-top: 15px;
    position: relative;
    width: 100%;
}
.footer_box img.footer_wave {
    content: "";
    background: url(../images/Footer_wave.png) no-repeat;
    background-size: cover;
    display: block;
    height: 54px;
    position: absolute;
    top: -54px;
    width: 100%;
}
.footer_content {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 0 40px 0;
    position: relative;
    width: 100%;
}
.footer_content img.Footer_logo {float: left; height: auto; max-width: 240px; opacity: 1;}
ul.footer_contact {margin-top: 48px; max-width: 340px;} 
ul.footer_contact li {font-size: 16px; font-weight: 400; line-height: 30px;}
ul.footer_contact li a {text-decoration: none;}
.footer_menu {float: right; margin-top: 4px; width: 650px;}
ul.footer_menu_list li {float: left; margin-right: 26px;}
ul.footer_menu_list li:last-child {margin-right: 0;}
ul.footer_menu_list li a {opacity: 1; text-decoration: none; transition: .5s opacity ease-in-out;}
ul.footer_menu_list li a:hover {opacity: .7;}
ul.social_icon {position: absolute; right: 0; top: 56px;}
ul.social_icon li {cursor: pointer; float: left; margin-right: 14px;}
ul.social_icon li img {height: auto; max-width: 40px; opacity: 1; transition: .5s opacity ease-in-out;}
ul.social_icon li img:hover {opacity: .7;}
ul.social_icon li:last-child {margin-right: 0;}
.footer_copyright {background: #ff5c49; padding: 16px 0; width: 100%;}
.footer_copyright h6 {color: #fff; font-weight: 400; text-align: center;}

/* --Modal--------------------------------- */
.mask {
    background: rgba(0,0,0,.75);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; 
    width: 100%; 
    z-index: 300;
}
.loginModal,.forgetPswModal,.registerRuleModal,.registerModal,.contactModal {
    background: #fff;
    border-radius: 12px;
    display: none;
    left: 50%;
    margin: 125px auto 0 auto;
    padding: 48px 40px 58px 40px;
    position: absolute;
	transform: translate3d(-50%,0,0);
    width: 450px;
    z-index: 500;
}
img.modal_close_icon {
    cursor: pointer; 
    height: 16px;
    opacity: 1; 
    position: absolute; 
    right: 20px; 
    top: 20px;
    width: 16px;
}
img.modal_close_icon:hover {opacity: .7;}
.loginModal h3,.forgetPswModal h3,.registerRuleModal h3,
.registerModal h3,.contactModal h3 {border-bottom: 1px solid #d3d3d3; font-size: 24px; font-weight: 500; padding-bottom: 14px;}
.loginModal input[name="login_number"],.loginModal input[name="login_psw"],
.forgetPswModal input[name="forget_psw_number"],.forgetPswModal input[name="forget_psw_email"],
.forgetPswModal input[name="forget_psw_psw"],.forgetPswModal input[name="forget_psw_confirm_psw"],
.registerModal input[name="register_name"],.registerModal input[name="register_number"],
.registerModal input[name="register_password"],.registerModal input[name="register_phone"],
.registerModal input[name="register_email"],.registerModal input[name="register_address"],
.contactModal input[name="contact_title"],.contactModal input[name="contact_name"],
.contactModal input[name="contact_phone"],.contactModal input[name="contact_email"],
.contactModal textarea[name="contact_detail"] {
    background: #f5f5f5; 
    border: none; 
    margin-top: 26px;
    outline: none; 
    padding: 10px 14px; 
    position: relative;
    width: 100%;
}
.contactModal textarea[name="contact_detail"] {height: 120px; resize: none;}
::placeholder {color: rgba(33,33,33,.65); font-weight: 400; letter-spacing: 0;}
:-ms-input-placeholder {color: rgba(33,33,33,.65); font-weight: 400; letter-spacing: 0;}  
::-ms-input-placeholder {color: rgba(33,33,33,.65); font-weight: 400; letter-spacing: 0;}
a.login_btn {
    background: #ff5c49; 
    border-radius: 58px;
    color: #fff;
    display: block; 
    font-size: 18px;
    font-weight: 400;
    height: 46px; 
    line-height: 44px;
    margin-top: 32px;
    max-width: 440px;
    text-align: center;
    text-decoration: none;
}
.register_member_text {height: 265px; margin-top: 10px; overflow-y: scroll; padding-right: 10px;}
.register_member_text p {font-size: 16px; line-height: 28px; padding-bottom: 16px; text-align: justify;}
.register_member_text span.s_title {font-weight: 600;}
.register_member_text::-webkit-scrollbar-track {background:#f5f5f5; border-radius: 10px; height: 55px;}
.register_member_text::-webkit-scrollbar {background:#f5f5f5; height: 55px; width: 10px;}
.register_member_text::-webkit-scrollbar-thumb {background: #ff5c49; border-radius: 10px; height: 55px;}
ul.register_member_btn {margin: -4px auto 0 auto; max-width: 345px; width: 100%;}
ul.register_member_btn li {float: left; margin-right: 24px; width: 160px;}
ul.register_member_btn li:last-child {margin-right: 0;}
ul.register_member_btn li > a.agree_btn,ul.register_member_btn li > a.disagree_btn {
    background: #ff5c49; 
    border-radius: 58px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 46px; 
    line-height: 42px;
    margin-top: 32px;
    max-width: 160px;
    text-align: center;
    text-decoration: none;
}
ul.login_modal_link {margin: 24px auto 0 auto; max-width: 170px; width: 100%;}
ul.login_modal_link li {float: left;}
ul.login_modal_link li:first-child {border-right: 1px solid #d3d3d3; padding-right: 14px;}
ul.login_modal_link li:last-child {padding-left: 18px;}
ul.login_modal_link li a {font-weight: 400; text-decoration: none;}

@media screen and (min-width:1366px){
    .mobile_header,.mobile_header_nav {display: none;}
}
@media screen and (max-width:1366px){
    .desktop_header_box,.desktop_header_nav,.footer_menu_list,.answer,
    .footer_box img.footer_wave {display: none;}
    .loginModal,.forgetPswModal,.registerRuleModal,.registerModal,.contactModal {margin: 118px auto 0 auto; padding: 28px 20px; width: 320px;}
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input::-moz-placeholder,textarea::-moz-placeholder,
    input:-ms-input-placeholder,textarea:-ms-input-placeholder,.index_price_box,.footer_menu_list li a {font-size: 14px;}
    .news_author p,.news_article_text p,.index_class_speech_teacher p,ul.rule_detail_btn li a,ul.rule_list_text li,.rule_detail_box p,.question_info p,
    .form_text label,.form_text p.padding0,.form_radio_text,ul.footer_contact li {font-size: 14px; line-height: 26px;}
    nav.mobile_header_nav li a,a.login_btn,.banner_content_text h3,.question_title h1,.house_platform_intro p,ul.news_box li h3,.index_class_speech_teacher ul li h3,a.speech_btn {font-size: 16px;}
    .form_text input[type="text"],.form_text input[type="tel"],.form_text input[type="email"],.form_text textarea {float: none; max-width: none;}
    ul.register_member_btn {margin: 20px auto 0 auto;}
    ul.register_member_btn li {width: 100%;}
    ul.register_member_btn li > a.agree_btn {margin: 0 auto 20px auto;}
    ul.register_member_btn li > a.disagree_btn {margin: 0 auto;}
    ul.register_member_btn li > a.agree_btn, ul.register_member_btn li > a.disagree_btn,
    a.login_btn {height: 42px; line-height: 40px;}
    .register_member_text {height: 250px;}
    .mobile_header {
        background-color: rgb(255,255,255);
        border-top: 4px solid #fd5d47;
        box-shadow: rgba(50,50,105,0.15) 0 2px 5px 0, rgba(0,0,0,0.05) 0 1px 1px 0;
        display: block;
        height: 70px;
        position: fixed;
        width: 100%;
        z-index: 2000;
    }
    .mobile_header.mobile_header_shadow {box-shadow: none;}
    .mobile_logo img {float: left; height: auto; margin: 21px 10px 0 18px; max-width: 210px;}
    .mobile_menu {
        float: right;
        height: 25px;
        right: 18px;
        position: relative;
        top: 22px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s ease-in-out;
        -moz-transition: .6s ease-in-out;
        transition: .6s ease-in-out;
        width: 25px;
    }
    .mobile_menu span {
        background: #fd5d47;
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        width: 25px;
    }
    .mobile_menu span:nth-child(1) {top: 0;}
    .mobile_menu span:nth-child(2) {top: 8px;}
    .mobile_menu span:nth-child(3) {top: 16px;}
    .mobile_menu.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .mobile_menu.open span:nth-child(2) {opacity: 0; width: 0%;}
    .mobile_menu.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    nav.mobile_header_nav {
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.18);
        display: none; 
        height: auto; 
        margin-top: 70px;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    nav.mobile_header_nav ul {background: #fff; height: auto; width: 100%;}
    nav.mobile_header_nav li {border-bottom: 1px solid #d3d3d3; width: 100%;}
    nav.mobile_header_nav li:last-child {border-bottom: none;}
    nav.mobile_header_nav li a {
        color: #000;
        display: block;
        font-weight: 400;
        height: 46px;
        letter-spacing: 1px;
        line-height: 46px;
        margin: auto;
        padding-left: 18px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: opacity .45s ease-out;
       -moz-transition: opacity .45s ease-out;
       -webkit-transition: opacity .45s ease-out;
    }
    nav.mobile_header_nav li a:after {
        border-right: 2px solid #fd5d47;
        border-top: 2px solid #fd5d47;
        content: "";
        display: block;
        height: 8px;
        margin: -6px 0 0 0;
        position: absolute;
        right: 18px;
        top: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 8px;
    }
    .index_banner_box {padding: 0;}
    .index_banner_box img {margin-top: 70px;}
    .bread_crumb {line-height: 24px;}
    .container {padding: 30px 18px 0 18px;}
    .house_platform_intro h2,.index_class_speech_teacher h2 {font-size: 24px; padding-bottom: 24px;}
    .house_platform_intro p {line-height: 30px;}
    a.house_platform_intro_btn {margin: 24px auto 0 auto;}
    .index_class_speech_teacher ul {margin: 0 auto;}
    .index_class_speech_teacher ul li {margin: 0 0 40px 0; width: 100%;}
    .index_class_speech_teacher ul li:last-child {margin: 0;}
    .index_class_speech_teacher ul li img {height: auto; width: 100%;}
    ul.news_box li {float: none; margin: 0 0 40px 0; width: 100%;}
    ul.news_box li img {max-width: 100%; width: 100%;}
    ul.news_box li .news_photo {margin-bottom: 10px; width: 100%;}
    ul.news_box li span.news_date, .index_class_speech_teacher ul li span.index_class_date {font-size: 14px;}
    ul.news_box li:nth-last-child(2), ul.news_box li:nth-last-child(3) {margin-bottom: 40px;}
    ul.news_box li:last-child {margin-bottom: 0;}
    ul.news_box,.news_detail_box {padding-top: 22px;}
    ul.news_box li h3 {font-weight: 500; line-height: 26px;}
    .news_detail_box h2 {
        font-size: 26px; 
        font-weight: 600; 
        line-height: 36px; 
        padding-bottom: 22px; 
        text-align: justify;
    }
    .news_author {padding-top: 20px;}
    .news_author p.news_page_date {padding-bottom: 8px;}
    .news_article_text {font-size: 14px; line-height: 26px; padding-bottom: 40px; text-align: justify;}
    .news_article_text h3 {font-size: 24px; line-height: 34px; padding-bottom: 20px;}
    .news_article_text p {padding-bottom: 20px; text-align: justify;}
    .index_class_speech_teacher ul li h3 {font-weight: 500; line-height: 26px; margin: 3px 0 0 0; text-align: justify;}
    .index_class_speech_teacher {margin-top: 54px;}
    h2.knowledge_title,.rule_detail_box h2 {font-size: 24px;}
    .banner_box {padding: 100px 16px 0 16px;}
    .banner_content h2 {font-size: 50px; margin: 0 8px 0 0;}
    .banner_content_text {margin-top: 10px;}
    .onlineClass_video {height: 100%; width: 100%;}
    .speech_form {margin-top: 24px;}
    .question_title,.question_info {padding: 10px 14px 14px 14px;}
    .question_title {height: auto;}
    .question_title h1 {font-weight: 500; line-height: 24px; margin-left: 0;}
    .question_info p {margin: 0; width: 100%;}
    .form_radio_text {margin-top: 14px;}
    .form_text input[type="text"],.form_text input[type="tel"],.form_text input[type="email"],.form_text textarea {margin-top: 14px;}
    .footer_box {margin-top: 55px; padding: 30px 0;}
    .footer_content {padding: 0 20px;}
    .footer_content img.Footer_logo {display: block; float: none; margin: 0 auto; max-width: 210px;}
    .footer_menu {float: none; margin-top: 20px; width: auto;}
    .footer_menu_list li {line-height: 28px; margin-right: 0; width: 30%;}
    ul.footer_contact {margin-top: 12px;}
    ul.social_icon {
        margin: 12px auto 0 auto; 
        position: static; 
        right: auto; 
        top: 0; 
        width: 118px;
    }
    ul.social_icon li img {max-width: 30px;}
    .footer_copyright {margin: 0;}
    .question_detail_box {margin-top: 30px;}
    .question_title h1 {padding-left: 44px;}
    .question_title h1:before {
        font-size: 18px;
        height: 32px;
        line-height: 31px;
        margin-top: -3px;
        width: 32px;
    }
    .form_text {padding: 14px 0 22px 0;}
    .form_text:last-child {padding: 14px 0 0 0;}
    .form_text label.form_text_title,.form_text p {padding: 0; text-align: justify; width: 32%;}
    .form_radio_box {width: 68%;}
    .form_text p.padding0 {font-size: 16px; line-height: 26px;}
    .form_text label.mobile_form_textarea {float: none; width: 100%;}
    a.speech_btn {height: 42px; line-height: 40px; margin-top: 30px;}
    ul.rule_list_text {margin-left: 0;}
    input[type="radio"]:checked + label, input[type="radio"]:not(:checked) + label {font-size: 16px; line-height: 26px;}
    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before {top: 4px;}
    input[type="radio"]:checked + label:after,input[type="radio"]:not(:checked) + label:after {top: 8px;}
}
@media screen and (min-width:767px) and (max-width:1366px){
    .banner_content h2 {font-size: 86px; margin: 0 10px 0 -4px;}
    .banner_content_text h3 {font-size: 20px;}
    .form_text label.form_text_title,.form_text p {padding: 0; width: 15%;}
    .form_radio_box {margin-top: 8px; width: 85%;}
    .form_text p.padding0,.form_radio_box {width: 100%;}
}
@media screen and (max-width:767px){
    label.mt8 {margin-top: 8px;}
    .form_radio_box {margin-top: 8px;}
    .form_text p.padding0,.form_radio_box {width: 100%;}
}
@media screen and (max-width:330px){
    .loginModal,.forgetPswModal,.registerRuleModal,.registerModal,.contactModal {width: 286px;}
    .house_platform_intro h2,.index_class_speech_teacher h2 {font-size: 20px; line-height: 26px;}
}
